.banner .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0) !important; 
}

#subtitle {
	background-color: rgba(0,0,0,0.3);
}

.typed-cursor {
    opacity: 1;
	background-color: rgba(0,0,0,0.3);
}